<div class="pull-right">
  <p><%= link_to "Come back to view page", @user, class: "btn btn-medium btn-default" %></p>
  <p><%= link_to "Come back to users page", users_path, class: "btn btn-medium btn-default" %></p>
</div>
<br />

  <h1>Change profile parameters</h1>

<%= form_for(@user, html: {class: "well"}) do |f| %>
    <legend><%= @user.first_name + " " + @user.name %></legend>

    <%= render 'shared/error_messages' %>
    <%= error_messages @user %>

    <div class="field">
      <%= f.label :influence %><br />
      <%= f.range_field :influence, class:"form-control", in: 0..100, step: 1 %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password , class:"form-control"%>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, "Confirmation" %><br />
      <%= f.password_field :password_confirmation , class:"form-control"%>
    </div>
    <br />
    <div class="actions">
      <%= f.submit "Change", class:"btn btn-large btn-primary"  %>
    </div>
<% end %>