<p class="pull-right"><%= link_to "Come back to users page", users_path, class: "btn btn-medium btn-default" %></p>

    <h1><%= @user.first_name + " " + @user.name %></h1>
  

	<div class="progress progress-striped	">
	  <div class="progress-bar"  role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= @user.influence %>%">
	  	<% if @user.influence > 33 %>
	    	<%= @user.first_name %>'s influence on other users<!--<span class="sr-only"><%= @user.influence %>% Complete</span>-->
	    <% end %>
	  </div>
	  <% if @user.influence <= 33 %>
	  	<%= @user.first_name %>'s influence on other users
	  <% end %>
	</div>

	<%= link_to "Edit profile", edit_user_path(@user), class: "btn btn-medium btn-info" %>
	<%= link_to "Delete user", user_path(@user), method: :delete, data: { confirm: "Are you sure you want to delete " + @user.first_name + " " + @user.name + "?" }, class: "btn btn-medium btn-danger" %>