<div class="fields">
  <div class="field col-md-offset-1 question_field">
    <%= f.label :content, "Question" %>
    <%= link_to_remove_fields "x", f %><br />
    <%= f.text_field :content, class:"form-control", tabindex: 1 %>
  </div>

  <%= f.fields_for :answers do |builder| %>
    <%= render 'answer_fields', :f => builder %>
  <% end %>
  <p class="col-md-offset-1"><%= link_to_add_fields "Add answer", f, :answers %></p>
</div>