<% if @only_mypolls_shown %>
	<%= link_to "View all polls", polls_path, class: "btn btn-medium btn-default pull-right" %>
<% else if signed_in? %>
	<%= link_to "View my polls", mypolls_path, class: "btn btn-medium btn-default pull-right" %>
<% end %>
<% end %>

	<h1><%= @title %></h1>

<% unless @only_mypolls_shown %>
	<p>These are the polls created until now.</p>
<% end %>

<p><%= link_to "Create a new poll", new_poll_path, class: "btn btn-medium btn-info" %></p>

<%= will_paginate %>

<% @polls.each do |poll|%>

<div class="well">
	<% if poll.finished == 1 %>
		<p class="pull-right"><span class="label label-success">Finished</span></p>
	<% end %>

		<h2> <%= poll.title %></h2>

	<%= link_to "View poll",  poll, class: "btn btn-medium btn-info" %>
	<% if current_user == poll.expert_user %>
		<div class="pull-right">
			<% unless poll.finished == 1 %>
				<%= link_to "Edit poll", edit_poll_path(poll), class: "btn btn-medium btn-info" %>
			<% end %>
			<%= link_to "Delete poll", poll_path(poll), method: :delete, data: { confirm: "Are you sure you want to delete the poll \"" + poll.title + "\"?" }, class: "btn btn-medium btn-danger" %>
		</div>
	<% end %>
</div>

<%end %>

<%= will_paginate %>