
<div class="pull-right">
	<%= link_to "Come back to polls page", polls_path, class: "btn btn-medium btn-default" %>
	<% if current_user == @poll.expert_user %>
		<% unless @poll.finished? %>
			<%= link_to "Edit poll", edit_poll_path(@poll), class: "btn btn-medium btn-info" %>
		<% end %>
		<%= link_to "Delete poll", poll_path(@poll), method: :delete, data: { confirm: "Are you sure you want to delete the poll \"" + @poll.title + "\"?" }, class: "btn btn-medium btn-danger" %>
	<% end %>
</div>

	<h1><%= @poll.title %></h1>

<div class="well">  
	<p class="label label-info">Poll expert: <%= @expert_user.first_name + " " + @expert_user.name %></p>

	<% #unless @poll.finished? or current_user.responded_to?(@poll) %>
	<% if current_user_can_respond_to(@poll) %>
		<%= link_to "Respond to this poll", respond_poll_path(@poll), class: "btn btn-medium btn-info pull-right" %>
	<% end %>
	<% if !@poll.finished? and @poll.expert_user == current_user and current_user.responded_to?(@poll) %>
		<%= link_to "End this poll", end_poll_path(@poll), class: "btn btn-medium btn-info pull-right" %>
	<% end %>

	<br /><br />
	<p class="label label-info">Ends at <%= @poll.ends_at.strftime("%c") %> UTC</p>
	<br />
	<br />

	<p><span class="badge badge-info"><%= @participants.count %></span> <%= "participant".pluralize(@participants.count) %> to this poll until now.</p>


	

	<% if @poll.finished? %>

		<div class="tabbable"> 
		    <ul class="nav nav-tabs">
		        <li class="active"><a href="#current_results" data-toggle="tab">Final results</a></li>
		        <li><a href="#history_results" data-toggle="tab">Results before validation</a></li>
		    </ul>
		    <div class="tab-content">
		        <div class="tab-pane active" id="current_results">

	<% end %>

		        	<% @questions.each do |question| %>

							<h2><%= question.content %></h2>

						<% question.answers.each do |answer| %>
							<%= render partial: "answer_show_results", locals: {answer: answer, show_history: false} %>
						<% end %>

					<% end %>

	<% if @poll.finished? %>

		        </div>
		        <div class="tab-pane" id="history_results">

		        	<% # if the poll is finished, we also show the results before validation %>
					
					<% @questions.each do |question| %>

							<h2><%= question.content %></h2>

						<% question.answers.each do |answer| %>
							<%= render partial: "answer_show_results", locals: {answer: answer, show_history: true} %>
						<% end %>

					<% end %>

		        </div>
		    </div>
		</div>

	<% end %>

</div>	